<div style="max-width: 570px">
    <div class="card mb-4">
        <div class="card-header">
            <h3>Dane pracownika</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">E-mail</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@user?.Email</p>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(user?.PhoneNumber))
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Telefon</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@user?.PhoneNumber</p>
                    </div>
                </div>
            }
            @if (user?.DateOfBirth != null)
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Date of Birth</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@user?.DateOfBirth</p>
                    </div>
                </div>
            }
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Role</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">
                        @if (role != null)
                        {
                            <text>@string.Join(", ", role)</text>
                        }
                        else
                        {
                            <text>No roles assigned</text>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "User")]
    public UserEntity user { get; set; } = default!;
    [Parameter]
    public IList<string> role { get; set; }
}
