@page "/Account/AccessDenied"

<PageTitle>Odmowa dostępu</PageTitle>

<header>
    <h1 class="text-danger">Odmowa dostępu</h1>
    <p class="text-danger">Nie masz dostępu do tego zasobu.</p>
</header>
