@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Potwierdzenie zapomnianego hasła</PageTitle>

<h1>Potwierdzenie zapomnianego hasła</h1>
<p>
    Sprawdź pocztę e-mail, aby zresetować hasło.
</p>
