@page "/Account/ResetPasswordConfirmation"
<PageTitle>Potwierdzenie resetowania hasła</PageTitle>

<h1>Potwierdzenie resetowania hasła</h1>
<p>
    Twoje hasło zostało zresetowane. <a href="Account/Login">Kliknij tutaj, aby się zalogować</a>
</p>
