@page "/Account/Manage/SetPassword"

<PageTitle>Ustawianie hasła</PageTitle>

<h3>Ustawianie hasła</h3>
<StatusMessage Message="@message" />
<p class="text-info">
    Nie masz lokalnej nazwy użytkownika/hasła dla tej witryny. Dodaj konto lokalne, aby móc zalogować się bez zewnętrznego loginu.
</p>
<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="set-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Wprowadź nowe hasło." />
                <label for="new-password" class="form-label">Nowe hasło</label>
                <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Potwierdź nowe hasło." />
                <label for="confirm-password" class="form-label">Potwierdź hasło</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Ustaw hasło</button>
        </EditForm>
     </div>
</div>

@code {
    private string? message;
    private UserEntity _userEntity = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _userEntity = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var hasPassword = await UserManager.HasPasswordAsync(_userEntity);
        if (hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/ChangePassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var addPasswordResult = await UserManager.AddPasswordAsync(_userEntity, Input.NewPassword!);
        if (!addPasswordResult.Succeeded)
        {
            message = $"Błąd: {string.Join(",", addPasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(_userEntity);
        RedirectManager.RedirectToCurrentPageWithStatus("Hasło zostało ustawione.", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(100, ErrorMessage = "{0} musi mieć co najmniej {2} i maksymalnie {1} znaków.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Nowe hasło")]
        public string? NewPassword { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "Potwierdź nowe hasło")]
        [Compare("Potwierdź nowe hasło", ErrorMessage = "Nowe hasło i hasło potwierdzające nie są zgodne.")]
        public string? ConfirmPassword { get; set; }
    }
}
